body {
    font-family: sans-serif;
    background-color: black;
    color: white;
}

h1 {
    border-bottom: 2px black solid;
}

#board td {
    width: 20px;
    height: 10px;
    text-align: center;
}

#board tr:nth-child(even) td:nth-child(odd).connected:before {
    content: "|";
}

#board tr:nth-child(odd) td:nth-child(even).connected:before {
    content: "—";
}

#board td.box1 {
    background-color:blue;
}

#board td.box2 {
    background-color:green;
}

#board tr:nth-child(odd) td:nth-child(even):hover,
#board tr:nth-child(even) td:nth-child(odd):hover {
    background-color: red;
}